/* Wpex pytheas Custom Styles */

body{
    background: #EDFBFF;
    font: 14px/1.8 Arial;
}
div#content a:visited{
    color: #f15a23 !important;
}
#wrap{
    margin: 0 auto;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* HEADER */
#masthead{
    padding: 6px 20px;
}

.masthead-right-content{
    color: #1F3765;
    font-weight: bold;
    font-size: 16px;
}
.masthead-right{
    padding-top: 10px;
}

.float_right{
    float: right;
}

.float_left{
    float: left;
}

.login_link a{
    padding-right: 18px;
    color: #6C6C6C;
    font-size: 16px;
}

#social{
    float: right;
    width: 100%;
    text-align: right;
    position: inherit;
    right: 0;
    top: 0;
    margin-top: 0;
    list-style: none;
    margin-bottom: 10px;
}

.masthead-search{
    float: left;
}


/* BLOCK HEADER */

#block_header{
    padding: 20px;
    background-color: #C1D6DB;
}

.page-header{

    margin-bottom: 0;
    padding: 0 0;
    border-bottom: none;
    font-family: Georgia;
    font-size: 44px;
    color: #23252F;
}

.page-header h1{

    font-family: Georgia;
    font-size: 44px;
    color: #23252F;
    font-weight: normal;
    margin-bottom: 26px;
    margin-top: 30px;
}

/* MENU HEADER */

#navbar{
    min-height: 44px;
    background: url("../images/bg_navbar.png") repeat-x;
    border-bottom: none;
}
.nav-menu{
    border-right: none;
}

.nav-menu > li > a:hover,
.nav-menu > .current-menu-item > a,
.navigation .current-menu-parent > a,
.navigation .current-menu-parent > a:hover,
.nav-menu > .current-menu-item > a:hover{
    background: url("../images/bg_navbar_over.png") repeat-x;
}
.nav-menu > li > a{
    height: 44px;
    font-size: 13px;
    font-weight: normal;
    border-right: 1px solid #2D3A5E;
    border-left: 1px solid #3E4C74;
}


.nav-menu li#menu-item-122 a{
    border: none;
}

.nav-menu ul a {
    padding: 8px 8px;
}
.nav-menu ul li > a:hover,.nav-menu .sub-menu li.current_page_item > a{
    background-color: #2C3A66;
}


/* Search */

.masthead-search{
    float: right;
    margin-top: 6px;
    margin-right:8px;
}

.masthead-search #searchsubmit{
    background: #fff;
    border: none;
    float: none;
    box-shadow: none;
}
#searchform{
    border: 1px solid #A8A8A8;
    height: 30px;
}
.masthead-search input[type=search]{
    background: #fff;
    border: none !important;
}

/* MAIN */

#main{
    padding: 0px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}

/* FOOTER */

#footer{
    background: transparent;
    border-top: none;
    padding: 24px 0 47px 0;
}

#footer-bottom{
    background: transparent;
    border-top: 1px solid #C0C0C0;
    padding: 14px 20px 10px 20px;
}

#footer-bottom img{
    width: 221px;
}

#copyright{
    text-align: right;
    font-size: 12px;
    color: #606060;
}

#footer-menu ul{
    float: none;
    margin:0 auto;
}

#footer-menu ul a{
    color: #79777D;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

#footer-menu li{
    margin-left: 0;
    width: 14.2%;
    text-align: center;
}

.masthead-search{
    display: none;
}


/*  MENU RESPONSIVE */
@media only screen and (min-width: 448px) and (max-width: 959px){
    .nav-menu > li > a,.nav-menu ul li > a:hover{
        background-color: #2C3A66;
    }

    .nav-menu.toggled-on li ul li a {
        height: 24px;
        line-height: 24px;
    }

}
@media only screen and (min-width: 320px) and (max-width: 447px) {
    .nav-menu > li > a,.nav-menu ul li > a:hover{
        background-color: #2C3A66;
    }
    .nav-menu.toggled-on li ul li a {
        height: 46px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 1102px){
    .nav-menu li.dropdown > a,.nav-menu > li > a{
        padding: 0 19px;
    }
}
@media only screen and (min-width: 1127px){
    .masthead-search{
        display: block;
    }
    .nav-menu li.dropdown > a,.nav-menu > li > a{
        padding: 0 8px;
    }

}

@media only screen and (min-width: 960px){
   .nav-menu > li > a {
        padding: 0 11px;
    }
    .nav-menu li.dropdown ul a{
        padding: 8px 8px ;
    }

}


/* CONTENT */


#primary{
    padding: 25px 20px;
}


/* HOME */
#home-wrap{
    padding: 20px;
}


/* HOME SLIDER */

.flexslider .slides .news-slider-img{
    width: 395px;
    height: 232px;
}

#home-slider-wrap{
    margin: 0;
}

#home-slider{
    background: rgba(193,214,219,1);
    background: -moz-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193,214,219,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1d6db', endColorstr='#ffffff', GradientType=0 );
}

.flexslider .slides .news-slider-img {

    float: right;
    margin-right: 100px;
}

.flex-cap {
    text-shadow: none;
    position: absolute;
    left: 40px;
    text-align: left;
    margin: 0;
    width: 380px;
    background: transparent;
    padding: 10px 10px;
    font-size: 13px;
    color: #444;
    font-weight: bold;
    border-radius: 3px;
}

.flex-cap h2 {
    margin: 0 0 15px;
    width: 240px;
}

.flex-cap a, .flex-cap a:hover {
    text-decoration: none;
}

#home-slider-wrap {
    border-bottom: none;
}

.flex-direction-nav, .flex-control-nav {
    display: none;
}


/* MENU LEFT*/


#left-menu{
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    padding: 20px;
    background-color: #F4F4F4;
}

#left-menu a{
    min-height: 28px;
    background-color: #EEEEEE;
    display: block;
    margin-bottom: 2px;
    font-size: 13px;
    color: #73777D;
    padding-left: 15px;
    padding-right: 15px;
}

/* TABLES STYLES */
table, th, td {
    border: 1px solid black;
}
td{
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    color:#000000;
}

table.cyfan-city, table.cyfan-city td, table.cyfan-city th{
    border: none;
}
table.cyfan-city td{
    border:none;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    color:#000000;
}
table.cyfan-city td ul{
    margin: -15px 0 0 15px !important;
}
/*
* LEFT MENU COLORS
*/
#left-menu .current-menu-item a{
    background: #2C3A66;
    color: #FFFFFF;
}
#left-menu .menu-item a:hover{
    background: #2C3A66;
    color: #FFFFFF;
    text-decoration: none;
}
/*
* HIDING LEFT MENU PAGES
*/
body.page-id-206 div#left-menu,body.page-id-165 div#left-menu,body.page-id-118 div#left-menu,body.single.single-post div#footer-menu, body.page-id-467 div#footer-menu,body.page-id-2708 div#footer-menu{
    display: none;
}
/*
* REMOVING FOOTER MENU
*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    #footer-menu{
        display: none;
    }
}
/*
*  ADDING USER LOGIN AND PHONE TEXTS FOR MOBILE RESOLUTIONS
*/
@media only screen and (max-width: 767px){
    .masthead-right {
        display: block;
    }
}
/*
* FIXING TEXT CENTER USER LOGIN AND PHONE
*/
@media only screen and (min-width: 320px) and (max-width: 500px){
    .masthead-right{
        position: relative;
        left:-20%;
        width: 100%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 597px){
    .masthead-right{
        position: relative;
        left:-37%;
        width: 100%;
    }
}
/*
* CENTERING FOOTER TEXT MOBILE RES
*/
@media only screen and (min-width: 320px) and (max-width: 768px){
    div#copyright{
        text-align: center;
    }
}
/*
* GOOGLE MAP IN CONTACT US PAGE - RESPONSIVE
*/
article#post-165 iframe, article#post-118 iframe, article#post-467 iframe{
    width: 100%;
}
article#post-165 div.entry-content p img{
    height: 200px;
}
@media only screen and (min-width: 320px) and (max-width: 547px){
    article#post-165 div.entry-content p img{
        margin-right: 265px !important;
    }
    /*CONTACT US PAGE*/
    body.page-id-118 table, body.page-id-467 table{
        width: 100% !important;
        font-size: 10px !important;
    }
    body.page-id-2225 div.entry-content p img{
        width: 100%;
    }
}
/*CONTACT US PAGE RESPONSIVE*/
body.page-id-118 table, body.page-id-467 table{
    width: 100% !important;
}
/*
* SOCIAL ICONS BIGGER
*/
#social a img{
    width: 30px;
    height: 30px;
}
/*
* CHCACT STAFF & BOARD PAGES
*/
body.page-id-14 dl.gallery-item b, body.page-id-49 dl.gallery-item b{
    font-weight: 600;
}
/*
* HOME SLIDER RESPONSIVE 320
*/
@media only screen and (min-width: 320px) and (max-width: 580px){
    body.page-id-9440 div.flex-viewport{
        height: 400px !important;
    }
    body.page-id-9440 div.flex-cap{
        top: 190px;
        width: 85%;
        margin-left: -4% !important;
    }
    body.page-id-9440 .flexslider .slides .news-slider-img{
        width: 85%;
        height: 180px;
        margin-right: 8% !important;
    }
}
@media only screen and (min-width: 581px) and (max-width: 767px){
    body.page-id-9440 div.flex-viewport{
        height: 400px !important;
    }
    body.page-id-9440 div.flex-cap{
        top: 230px;
        width: 85%;
        margin-left: -4% !important;
    }
    body.page-id-9440 .flexslider .slides .news-slider-img{
        width: 85%;
        height: 232px;
        margin-right: 8% !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1400px){
    body.page-id-9440 div.flex-cap{
        width: 36%;
    }
    body.page-id-9440 .flexslider .slides .news-slider-img{
        width: 38%;
        margin-right: 8%;
        height: 232px;
    }
}
/*
* LOGIN FORUM PAGE STYLE
*/
.wpbb-centered-bold{
    padding-top: 10px;
    margin-top: 10px;
    background: #FFFFFF;
}
/*
* SUBTITLE STYLE
*/
strong.orange-sub{
    color: #f15a23;
    font-size: 16px;
}
/*
* CATEGORIES PAGE STYLES
*/
li span.cat-style{
    text-decoration: underline;
}
body.category article{
    background: #FAFAFA;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}
body.category .blog-entry-details{
    padding: 20px;
}
body.category .blog-entry-details h2{
    font-family: georgia-regular;
    font-size: x-large;
    color: #3e4e70;
    font-weight: normal;
}
body.category .blog-entry-details h2 a{
    color: #3e4e70 !important;
}
body.category .blog-entry-details h2 a:visited{
    color: #3e4e70 !important;
}
body.category .corner-icon{
    background: url(../images/news-item-corner.png);
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0px;
    top: 0px;
}
body.category li.comments-text{
    float: right;
}
body.category .meta li{
    background: #FAFAFA;
}
body.category .news-comments{
    background: url(../images/news-item-qmark.png);
    width: 26px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    float: right;
    margin-left: 5px;
}
body.category .comment-link-text{
    border-bottom: 1px dotted;
}
/* SIDEBAR STYLES*/
body.category div.sidebar-inner{
    position: relative;
    top: 23px;
    padding: 20px;
    background-color: #FAFAFA;
}
body.category div.sidebar-inner h4 span{
    font-family: arial;
    color: #ec7d26;
    font-size: large;
    font-weight: 100;
}
body.category div.sidebar-inner ul{
    position: relative;
    top: -15px;
}
body.category div.sidebar-inner ul li a{
    color: #151515;
}
body.category div.sidebar-inner h4.heading{
    background: none;
}
body.category div.sidebar-inner h4 span{
    background: #FAFAFA;
}
body.category div.sidebar-inner div.widget_ai1ec_agenda_widget{
    border-top: 1px solid #dddddd;
}
body.category div.sidebar-inner div.widget_ai1ec_agenda_widget h4{
    position: relative;
    top: 10px;
}
/* END NEWS CATEGORY PAGE STYLES*/
/*
* SINGLE POSTS STYLES
*/
body.single-post table, body.single-post table td, body.page table, body.page table td{
    border: none;
}
/*
* NEWSLETTER TEMPLATE
*/
body.single-post div#content{
    position: relative;
    top: 17px;
}
body.single-post #secondary{
    position: relative;
    top: 20px;
}
body.single-post .sidebar-inner{
    position: relative;
    top: 23px;
    padding: 20px;
    background-color: #FAFAFA;
}
body.single-post .sidebar-inner h4{
    font-family: arial;
    color: #ec7d26;
    font-size: large;
    font-weight: 100;
}
body.single-post div#content h4,  body.single-post div#content h2{
    font-family: georgia-regular;
    font-size: x-large;
    color: #3e4e70;
    font-weight: normal;
}
body.single-post table{
    background: #FAFAFA;
    width: 100%;
    margin-top: 30px;
}
body.single-post table:first-child{
    background: #FAFAFA;
    width: 100%;
    margin-top: 1px;
}
body.single-post table td{
    padding: 20px;
}
body.single-post table h2{
    margin: 0px 0px 20px 0px;
}
body.single-post footer#footer{
    display: none;
}
/*
* FUNDING OPORTUNITIES TABLE
*/
body.page-id-9551 table tr:first-child{
    background: #FFFFFF;
}
body.page-id-9551 table tr{
    background: #e9e9e9;
    border-bottom: 15px solid #FFFFFF;
}

#post-165 p.location {
    display: inline-table;
}

#twitter-widget-0{
    height: 199px;
}