/* Wpex pytheas Custom Styles */

body{
    background: #EDFBFF;
    font: 12px/1.8 Arial;
}

#wrap{
    margin: 0 auto;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* HEADER */
#masthead{
    padding: 6px 20px;
}

.masthead-right-content{
    color: #1F3765;
    font-weight: bold;
    font-size: 16px;
}
.masthead-right{
    padding-top: 10px;
}

.float_right{
    float: right;
}

.float_left{
    float: left;
}

.login_link a{
    padding-right: 18px;
    color: #6C6C6C;
    font-size: 13px;
}

#social{
    float: right;
    width: 100%;
    text-align: right;
    position: inherit;
    right: 0;
    top: 0;
    margin-top: 0;
    list-style: none;
    margin-bottom: 0;
}

.masthead-search{
    float: left;
}


/* BLOCK HEADER */

#block_header{
    padding: 20px;
    background-color: #C1D6DB;
}

.page-header{

    margin-bottom: 0;
    padding: 0 0;
    border-bottom: none;
    font-family: Georgia;
    font-size: 44px;
    color: #23252F;
}

.page-header h1{

    font-family: Georgia;
    font-size: 44px;
    color: #23252F;
    font-weight: normal;
    margin-bottom: 26px;
    margin-top: 30px;
}

/* MENU HEADER */

#navbar{
    min-height: 44px;
    background: url("../images/bg_navbar.png") repeat-x;
    border-bottom: none;
}
.nav-menu{
    border-right: none;
}

.nav-menu > li > a:hover,
.nav-menu > .current-menu-item > a,
.navigation .current-menu-parent > a,
.navigation .current-menu-parent > a:hover,
.nav-menu > .current-menu-item > a:hover{
    background: url("../images/bg_navbar_over.png") repeat-x;
}
.nav-menu > li > a{
    height: 44px;
    font-size: 13px;
    font-weight: normal;
    border-right: 1px solid #2D3A5E;
    border-left: 1px solid #3E4C74;
}


.nav-menu li#menu-item-122 a{
    border: none;
}

.nav-menu ul a {
    padding: 8px 8px;
}
.nav-menu ul li > a:hover,.nav-menu .sub-menu li.current_page_item > a{
    background-color: #2C3A66;
}


/* Search */

.masthead-search{
    float: right;
    margin-top: 6px;
    margin-right:8px;
}

.masthead-search #searchsubmit{
    background: #fff;
    border: none;
    float: none;
    box-shadow: none;
}
#searchform{
    border: 1px solid #A8A8A8;
    height: 30px;
}
.masthead-search input[type=search]{
    background: #fff;
    border: none !important;
}

/* MAIN */

#main{
    padding: 0px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}

/* FOOTER */

#footer{
    background: transparent;
    border-top: none;
    padding: 24px 0 47px 0;
}

#footer-bottom{
    background: transparent;
    border-top: 1px solid #C0C0C0;
    padding: 14px 20px 10px 20px;
}

#footer-bottom img{
    width: 221px;
}

#copyright{
    text-align: right;
    font-size: 12px;
    color: #606060;
}

#footer-menu ul{
    float: none;
    margin:0 auto;
}

#footer-menu ul a{
    color: #79777D;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

#footer-menu li{
    margin-left: 0;
    width: 14.2%;
    text-align: center;
}

.masthead-search{
    display: none;
}


/*  MENU RESPONSIVE */
@media only screen and (max-width: 959px){
    .nav-menu > li > a,.nav-menu ul li > a:hover{
        background-color: #2C3A66;
    }

    .nav-menu.toggled-on li ul li a {
        height: 24px;
        line-height: 24px;
    }

}

@media only screen and (min-width: 1102px){
    .nav-menu li.dropdown > a,.nav-menu > li > a{
        padding: 0 19px;
    }
}
@media only screen and (min-width: 1127px){
    .masthead-search{
        display: block;
    }
    .nav-menu li.dropdown > a,.nav-menu > li > a{
        padding: 0 8px;
    }

}

@media only screen and (min-width: 960px){
   .nav-menu > li > a {
        padding: 0 11px;
    }
    .nav-menu li.dropdown ul a{
        padding: 8px 8px ;
    }

}


/* CONTENT */


#primary{
    padding: 25px 20px;
}


/* HOME */
#home-wrap{
    padding: 20px;
}


/* HOME SLIDER */

.flexslider .slides .news-slider-img{
    width: 395px;
    height: 232px;
}

#home-slider-wrap{
    margin: 0;
}

#home-slider{
    background: rgba(193,214,219,1);
    background: -moz-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193,214,219,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(193,214,219,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1d6db', endColorstr='#ffffff', GradientType=0 );
}

.flexslider .slides .news-slider-img {

    float: right;
    margin-right: 100px;
}

.flex-cap {
    text-shadow: none;
    position: absolute;
    left: 40px;
    text-align: left;
    margin: 0;
    width: 380px;
    background: transparent;
    padding: 10px 10px;
    font-size: 13px;
    color: #444;
    font-weight: bold;
    border-radius: 3px;
}

.flex-cap h2 {
    margin: 0 0 15px;
    width: 240px;
}

.flex-cap a, .flex-cap a:hover {
    text-decoration: none;
}

#home-slider-wrap {
    border-bottom: none;
}

.flex-direction-nav, .flex-control-nav {
    display: none;
}


/* MENU LEFT*/


#left-menu{
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    padding: 20px;
    background-color: #F4F4F4;
}

#left-menu a{
    min-height: 28px;
    background-color: #EEEEEE;
    display: block;
    margin-bottom: 2px;
    font-size: 13px;
    color: #73777D;
    padding-left: 15px;
    padding-right: 15px;
}

